extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            videoBlock({
            p= item.description 	                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })